colorama
cryptography
opencv-python
psutil
pycountry
pyperclip
pypiwin32
selenium
discord.py
requests
requests-toolbelt
websocket-client
browser-cookie3
pyautogui
Pillow
beautifulsoup4
pylibcheck
pyaesm
pystyle
tqdm
easygui
emoji
wmi